{% extends "application/home.html" %}
{% block content %}
{% load static %}
{% block title %}Buy Now{% endblock title %}

<div class="container my-5">
 <div class="row">
 <h3>Welcome <span>{{request.user|capfirst}}</span></h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">

    <form action="" method="POST" style="background-color: lightblue ; width: 350px; height: 350px; text-align: center; margin: auto; margin-top: 10px;">
        {% csrf_token %}
        {% for i in form %}
        <br><br>
        {{i.label}}
        {{i.errors|striptags}}
        <br>
        {{i}}
        {% endfor%}
        <br><br>
        <input type="submit" value="Save">
    </form>
    {% for i in messages %}
    {{i}}
    {% endfor%}


  </div>
 </div>
</div>


{% endblock content %}